.photograph-header {
  background-color: #fafafa;
  height: 310px;
  margin: 0 100px;
  padding: 0 52px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.photograph-header div {
  margin-bottom: 11px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.photograph-header h1 {
  font-size: 60px;
  font-weight: 500;
  margin: 0;
  color: #d3573c;
}

.photograph-header .localization {
  font-size: 24px;
  padding-bottom: 18px;
  color: #901c1c;
}

.photograph-header blockquote {
  font-size: 18px;
  color: #525252;
}
.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  margin: 28px 80px 0 0;
}

.contact_button:hover,
.contact_button:focus {
  background-color: #db8876;
  color: black;
}

.medias-section {
  margin: 0 100px 100px 100px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 23px 95px;
  color: #901c1c;
}

.gallery article img,
.gallery article video {
  height: 300px;
  width: 350px;
  object-fit: cover;
  image-rendering: pixelated;
  border-radius: 7px;
  cursor: pointer;
}

.gallery article > div {
  padding-right: 3px;
  padding-top: 3px;
}

.gallery article div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 23px;
  font-weight: 600;
  height: 40px;
}

.gallery article h2 {
  font-size: 23px;
}

.gallery article span {
  padding-right: 10%;
}

.notch {
  position: fixed;
  bottom: 0;
  right: 14%;
  background-color: #db8876;
  display: flex;
  justify-content: space-around;
  height: 70px;
  width: 375px;
  border-radius: 5px 5px 0 0;
}

.notch p {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
}

.notch p i {
  margin-left: 7px;
}
